.hireMe {
  min-height: 30vh;
  background-color: #ebefda;

  display: flex;
  align-items: center;
}
.hireMeContainer {
  min-height: 60%;
  display: flex;
  flex-direction: column;
}
.title {
  margin-top: 0;
  margin-bottom: 40px;
  background-color: #dedede;
  text-align: center;
}
.hireMeButton {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #add079;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
@media (max-width: 560px) {
  .hireMe {
    padding: 70px 0;
  }
}