.worksBlock {
  padding: 70px 0;
  min-height: 80vh;
  background-color: #ede1f1;

  display: flex;
  align-items: center;
}
.title {
  margin-top: 0;
  margin-bottom: 80px;
  background-color: #dedede;
}
.worksContainer {
  flex-direction: column;
  justify-content: start;
}
.works {
  width: 100%;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 1020px) {
  .worksBlock {
    padding: 50px 0;
    min-height: 110vh;
  }
  .works {
    justify-content: space-around;
  }
}