.main {
  min-height: 100vh;
  background-color: #f5e8e8;

  display: flex;
  align-items: center;
}
.mainBlock {
  justify-content: space-around;
}
.text {
  width: 300px;
  background-color: #c4c4c4;
}
.photo {
  height: 320px;
  width: 240px;
  background-color: #c4c4c4;

  display: flex;
  align-items: center;
}
.photo img {
  width: 240px;
}